%button#locate{:class => "radius expand"} Use my location

%h1 Make a recommendation

= render 'form'

.panel.radius
  %p Watering hole of choice not showing up? Bad google! Email us and we'll get it added pronto!
  %i{class:"fa fa-envelope"}| emergency@drinkfindr.com
