%h1 Bars
%table
  %tbody
    - @bars.each do |bar|
      %tr
        %td= link_to bar.name, bar
        %td= bar.location
        / %td= bar.longitude
        / %td= bar.latitude
        -if current_user.role?(:admin)
          %td= link_to 'Edit', edit_bar_path(bar)
          %td= link_to 'Destroy', bar, method: :delete, data: { confirm: 'Are you sure?' }
