.small-12.small.columns
  .welcome
    %h1
      Welcome to drinkfindr
    %h2
      Reliable recommendations from people you know

  /description of drink findr
  /interested? sign up!


  %p= link_to "Sign up",new_user_registration_path, :class => "button expand"
  #sign-in 
    %p= link_to "Or if you're already a drinkfindr, sign in...", new_user_session_path

.small-12.small.columns
  .panel
    %h3 Latest recommendations: 
    - @recommendations.each do |recommendation|
      %tr
        %b
          %td= recommendation.bar.try :name
        %em
          %td= recommendation.review

    