.panel
  %h1
    Welcome to drinkfindr
  %h2
    Reliable recommendations from people you know
%h3

/description of drink findr
/interested? sign up!

%p= link_to "Sign up", new_user_path
/already a member?   
%p= link_to "Sign in", user_session_path
/ .panel
/   %h4 
.panel
  %h3 Latest recommendations: 
  - @recommendations.each do |recommendation|
    %tr
      %td= recommendation.bar.try :name
      / %td= recommendation.review

    
     
