.panel
  %h1
    Welcome to drinkfindr
  %h2
    Reliable recommendations from people you know
%h3
  %p= link_to "Sign in", user_session_path
  %p= link_to "Sign up", new_user_path

/ .panel
/   %h4 
/     Latest recommendations
/   @recommendations = Recommendation.order("created_at DESC").limit(5)