= form_for @invitation do |f|
  %h1 Like drinkfindr? Invite a friend!
  %p
    = f.label :recipient_email, "Email address"
    = f.text_field :recipient_email
  %p= f.submit "Invite!", :class => "button expand" 