/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides

 *= require_tree .
 */

 $primary-color: #2bcba0;

 body { 
  height: 100%; 
 
  header {
    background: #333333;
    width: 100%;
  }

  .notice,
  .alert {
    margin: 0;
  }
  
  #map-canvas { 
    height: 50%; 
    width: 100%; 
  } 

  #homemap-canvas { 
    height: 50%; 
    width: 100%; 
  } 

  @media only screen and (min-width: 9999px) {
    .top-bar {
      background: #333333;
      *zoom: 1;
      overflow: visible; }
  }
  
  main {
    padding: 1em 0;
  
  tr:hover {
           background-color: #dddddd;
           transform:scale(1.05,1.05);
           transition:All 0.7s ease;
         }


  }

  footer {
    min-height: 100px;
    background: #c0c0c0;
    padding: 1em 0;
    bottom: 0;
    width: 100%;
  }
 }